[package]
name = "cras"
version = "0.1.1"
authors = ["The ChromiumOS Authors"]
edition = "2021"

[dependencies]
anyhow = "1.0.68"
libc = "0.2.44"
log = "0.4.17"
syslog = "6.0.1"
nix = "0.26.2"
glob = "0.3.0"
regex = "1.6.0"
getrandom = "0.2.7"
openssl = "0.10.48"

cras_dlc = { version = "*" }
audio_processor = { version = "*" }
