build
cscope.*
__pycache__/
# clangd
compile_commands.json
.cache
# vscode
*.code-workspace

# bazel
/external
/bazel-*
# hedron_compile_commands insists in inserting these.
# https://github.com/hedronvision/bazel-compile-commands-extractor/issues/59
/compile_commands.json
/.cache/
/user.bazelrc

# Rust
/target/
