[output_source]
library=builtin
label=source
purpose=playback
disable=(equal? output_jack "HDMI")
output_0={src:0}
output_1={src:1}

[output_sink]
library=builtin
label=sink
purpose=playback
disable=(equal? output_jack "HDMI")
input_0={dst:0}
input_1={dst:1}

[eq_left]
library=builtin
label=eq
input_0={src:0}
output_1={intermediate:0}
input_2=6       ; peaking
input_3=380     ; freq
input_4=3       ; Q
input_5=-10     ; gain
input_6=6       ; peaking
input_7=720     ; freq
input_8=3       ; Q
input_9=-12     ; gain
input_10=6       ; peaking
input_11=1705    ; freq
input_12=3       ; Q
input_13=-8      ; gain
input_14=2       ; highpass
input_15=218     ; freq
input_16=0.7     ; Q
input_17=-10.2   ; gain
input_18=6       ; peaking
input_19=580     ; freq
input_20=6       ; Q
input_21=-8      ; gain
input_22=5       ; highshelf
input_23=8000    ; freq
input_24=3       ; Q
input_25=2       ; gain

[eq_right]
library=builtin
label=eq
input_0={src:1}
output_1={intermediate:1}
input_2=6       ; peaking
input_3=450     ; freq
input_4=3       ; Q
input_5=-12     ; gain
input_6=6       ; peaking
input_7=721     ; freq
input_8=3       ; Q
input_9=-12     ; gain
input_10=6       ; peaking
input_11=1800    ; freq
input_12=8       ; Q
input_13=-10.2   ; gain
input_14=6       ; peaking
input_15=580     ; freq
input_16=6       ; Q
input_17=-8      ; gain
input_18=2       ; highpass
input_19=250     ; freq
input_20=0.6578  ; Q
input_21=0       ; gain
input_22=5       ; highshelf
input_23=8000    ; freq
input_24=0       ; Q
input_25=2       ; gain

[drc]
library=builtin
label=drc
input_0={intermediate:0}
input_1={intermediate:1}
output_2={dst:0}
output_3={dst:1}
input_4=0         ; f
input_5=0         ; enable
input_6=-29       ; threshold
input_7=3         ; knee
input_8=6.677     ; ratio
input_9=0.02      ; attack
input_10=0.2       ; release
input_11=-7        ; boost
input_12=200       ; f
input_13=1         ; enable
input_14=-32       ; threshold
input_15=23        ; knee
input_16=12        ; ratio
input_17=0.02      ; attack
input_18=0.2       ; release
input_19=0.7       ; boost
input_20=1200      ; f
input_21=1         ; enable
input_22=-24       ; threshold
input_23=30        ; knee
input_24=1         ; ratio
input_25=0.001     ; attack
input_26=1         ; release
input_27=0         ; boost
