# Copyright 2022 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

build --conlyopt=-std=gnu11
build --cxxopt=-std=gnu++17
