# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

build --conlyopt=-std=gnu11
build --cxxopt=-std=gnu++17

# b/201531268: LFS support
build --copt=-D_FILE_OFFSET_BITS=64
build --copt=-D_LARGEFILE_SOURCE
build --copt=-D_LARGEFILE64_SOURCE
