*.o
*.lo
*.d
src/cras
src/libcras.a
src/libcras.so*
tags
libcras.pc
src/mix_unittest
src/cras_test_client
src/*_unittest
/Makefile
/Makefile.in
/aclocal.m4
autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
src/.libs/
src/Makefile
src/Makefile.in
src/common/.deps/
src/common/.dirstamp
src/.deps/
src/libcras.la
src/libcras/.deps/
src/libcras/.dirstamp
src/server/.deps/
src/server/.dirstamp
src/tests/.deps/
src/tests/.dirstamp


