[package]
name = "cras_common"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.68"
getrandom = "0.2.7"
libc = "0.2.44"
log = "0.4.17"
nix = "0.26.2"
once_cell = "1.17.0"
openssl = "0.10.48"
serde_json = "1.0.64"
syslog = "6.0.1"
